
/* The main box the Guide Runs in. It doesn't need to have any of these features  */
.guide_area
{
padding:10px 10px;
}


/*----Heading CSS----*/
/*-------------------*/

/*main Heading Container*/
.guide_heading
{
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
border:2px solid #a1a1a1;
padding:10px 40px; 
margin-left: auto;
margin-right: auto;
border-radius:25px;
}

/*Head of the Guide Heading.*/
.guide_head_heading
{
    
}

/*Fourm for selecting a Guide.*/
.guide_selection_forum
{
    
}


/*Replay Container*/
/*Css to have the box that displays HD guide code on the right.*/
.ReplayCodeBox
{
float:right;  
}

/*----Heading CSS----*/
/*-------------------*/

/*----element CSS----*/
/*-------------------*/
/* CSS for the guide elements. margin auto is to center the box.  old color */
.guide_element
{
-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
border:2px solid #a1a1a1;
padding:10px 40px; 
margin-left: auto;
margin-right: auto;
border-radius:25px;
}

/*CSS for the question element space in the Guide_elements. 
Margin-right: 10% keeps the box from overlapping with the remove button. */
.guide_element_qspace
{
color: #fbf4f4;
border:2px solid #a1a1a1;
padding:10px 50px;
margin-right: 10%;
background:#0A623A;
border-radius:25px;

-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}
/*----element CSS----*/
/*-------------------*/

/*---------buttons---------*/
/*-------------------------*/


/*--Answer Button--*/
/*Has an active and a seleted Mode */
.guide_element_answerbutton
{
color: #fbf4f4;
border:2px solid #a1a1a1;
padding:5px;
background:#0A623A;
border-radius:25px;
display: inline-block;
cursor: pointer;

-webkit-box-shadow: 0 10px 6px -6px #777;
-moz-box-shadow: 0 10px 6px -6px #777;
box-shadow: 0 10px 6px -6px #777;
}

    .guide_element_answerbutton:active
    {
    background:#084E2E;    
    }

    /* CSS for the Selected Answer. This just changing the color right now.  */
    .guide_element_answerbutton_selected
    {
    color: #fbf4f4;
    color: #fbf4f4;
    border:2px solid #a1a1a1;
    padding:5px;
    background:#084E2E;
    border-radius:25px;
    display: inline-block;

    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    }
/*--Answer Button--*/
/*-----------------*/


/*--remove button--*/
/*has a active mode*/
.remove_button
{
float:right;
}
/*--remove button--*/
/*-----------------*/


/*--copy button--*/
/*has a active mode*/
.copy_button
{

}
/*--copy button--*/
/*---------------*/


/*--Reset button--*/
/*has a active mode*/
.reset_button
{

}
/*--Reset button--*/
/*-----------------*/


/*--Replay Input--*/
/*has a active mode*/
.replay_input
{

}
/*--Replay Input--*/
/*-----------------*/

/*--Launch button--*/
/*has a active mode*/
.replay_Code_submit
{

}
/*--Launch button--*/
/*-----------------*/


/*--start button--*/
/*has a active mode*/
.start_button
{

}
/*--start button--*/
/*-----------------*/

/*---------buttons---------*/
/*-------------------------*/








